@charset "UTF-8";

.xopgi_darkgray_bg {
  background-color: #c9c9c6;
}

.xopgi_lightgray_bg {
  background-color: #E2E2E0;
}

.xopgi_blue_bg {
  background-color: #7c7bad;
}
.xopgi_blue_bg:hover {
  background-color: #5f5e97;
}



.openerp .oe_board {
  width: 100%;
}
.openerp .oe_board .oe_board_widget {
  margin: 0 8px 8px 0;
  background-color: white;
  border: 1px solid;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.openerp .oe_board .oe_board_widget .oe_header {
  font-size: 16px;
  vertical-align: middle;
  margin: 0;
  padding: 12px;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.openerp .oe_board .oe_board_widget .oe_header:hover {
  cursor: move;
}
.openerp .oe_board .oe_board_widget .oe_header .oe_icon {
  float: right;
  cursor: pointer;
  color: #b3b3b3;
}
.openerp .oe_board .oe_board_widget .oe_header .oe_icon:hover {
  color: #666666;
  text-decoration: none;
}
.openerp .oe_board .oe_board_widget .oe_header .oe_close:after {
  content: "×";
  margin-left: 4px;
}
.openerp .oe_board .oe_board_widget .oe_header .oe_minimize:after {
  content: "-";
  margin-left: 4px;
}
.openerp .oe_board .oe_board_widget .oe_header .oe_maximize:after {
  content: "+";
  margin-left: 4px;
}
.openerp .oe_board .oe_board_widget .oe_header .oe_header_text {
  visibility: hidden;
  cursor: text;
}
.openerp .oe_board .oe_board_widget .oe_header span {
  cursor: pointer;
}
.openerp .oe_board .oe_board_widget .oe_header_empty {
  padding-top: 0;
  padding-bottom: 2px;
}
.openerp .oe_board .oe_board_widget .oe_board_widget_content {
  padding: 0 12px 12px 12px;
}

input.oe_changing {
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.o_xhg_dashboard {
    padding: 10px 6px;
    position: relative;
    background-color: white;
    flex: 1 0 100%;
    margin: -4px -12px 4px;
}

a.o_dashboard_action {
    display: block;
    max-width: 100%;
}

.o_xhg_dashboard .o_welcome_message {
    width: 100%;
    bottom: auto;
    right: auto;
    display: flex;
    justify-content: center;
    left: 0px;
    top: 0px;
    position: absolute;
}

.o_xhg_dashboard .o_welcome_message .o_welcome_image {
    padding: 20px;
}

.o_xhg_dashboard .o_welcome_message .o_welcome_content > a {
    color: white;
    display: inline-block;
}

.o_xhg_dashboard > .o_demo {
    opacity: 0.07;
}

.o_xhg_dashboard > div {
    display: inline-block;
    vertical-align: top;
}

.o_xhg_dashboard > div > table {
    border-spacing: 10px 0;
    table-layout: fixed;
    border-collapse: separate;
    margin-bottom: 0;
}

.o_xhg_dashboard > div > table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #FFF;
    width: 16%;
    height: 33px;
}

.o_xhg_dashboard > div > table > tbody > tr > td > span {
    display: inline;
}

.o_xhg_dashboard > div > table > tbody > tr > td > a:hover {
    text-decoration: none;
}

.o_xhg_dashboard .o_main {
    background-color: #337AB7;
}

.o_xhg_dashboard .o_main:hover {
    background-color: #285F8F;
}

.o_xhg_dashboard .o_main a {
    color: white;
}

.o_xhg_dashboard .o_warning {
    background-color: #FFA500;
}

.o_xhg_dashboard .o_warning:hover {
    background-color: #CC8400;
}

.o_xhg_dashboard .o_warning a {
    color: white;
}

.o_xhg_dashboard .o_secondary a {
    color: black;
}

.o_xhg_dashboard .o_secondary {
    background-color: #E2E2E0;
}

.o_xhg_dashboard .o_secondary:hover{
    background-color: #C9C9C6;
}

.o_xhg_dashboard .o_highlight {
    font-size: 20px;
    text-align: center;
}

.o_highlight {
    font-size: 20px;
}

.o_xhg_dashboard .o_text {
    text-align: left;
}
