.o_sales_dashboard {
    padding: 6px 4px;
    position: relative;
    background-color: white;
    flex: 1 0 100%;
    margin: -4px -12px 4px;
}

a.o_dashboard_action {
    display: block;
    max-width: 100%;
}

.o_sales_dashboard .o_welcome_message {
    width: 100%;
    bottom: auto;
    right: auto;
    display: flex;
    justify-content: center;
    left: 0px;
    top: 0px;
    position: absolute;
}

.o_sales_dashboard .o_welcome_message .o_welcome_image {
    padding: 20px;
}

.o_sales_dashboard .o_welcome_message .o_welcome_content > a {
    color: white;
    display: inline-block;
}

.o_sales_dashboard > .o_demo {
    opacity: 0.07;
}

.o_sales_dashboard > div {
    display: inline-block;
    vertical-align: top;
}

.o_sales_dashboard > div > table {
    border-spacing: 6px 0;
    table-layout: fixed;
    border-collapse: separate;
    margin-bottom: 0;
}

.o_sales_dashboard > div > table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #FFF;
    width: 16%;
    height: 33px;
}

.o_sales_dashboard > div > table > tbody > tr > td > span {
    display: inline;
}

.o_sales_dashboard > div > table > tbody > tr > td > a:hover {
    text-decoration: none;
}

.o_sales_dashboard .o_main {
    background-color: #337AB7;
}

.o_sales_dashboard .o_main:hover {
    background-color: #285F8F;
}

.o_sales_dashboard .o_main a {
    color: white;
}

.o_sales_dashboard .o_warning {
    background-color: #FFA500;
}

.o_sales_dashboard .o_warning:hover {
    background-color: #CC8400;
}

.o_sales_dashboard .o_warning a {
    color: white;
}

.o_sales_dashboard .o_secondary a {
    color: black;
}

.o_sales_dashboard .o_secondary {
    background-color: #E2E2E0;
}

.o_sales_dashboard .o_secondary:hover{
    background-color: #C9C9C6;
}

.o_sales_dashboard .o_highlight {
    font-size: 20px;
    text-align: center;
}

.o_highlight {
    font-size: 20px;
}

.o_monetary_highlight {
    font-size: 14px;
}

.o_sales_dashboard .o_text {
    text-align: left;
}

.o_sales_dashboard .o_gradient0 {
    background-color: #ff0000;
}
.o_sales_dashboard .o_gradient0 a {
    color: white;
}

.o_sales_dashboard .o_gradient1 {
    background-color: #ff4802;
}

.o_sales_dashboard .o_gradient1 a {
    color: white;
}

.o_sales_dashboard .o_gradient2 {
    background-color: #ff8802;
}

.o_sales_dashboard .o_gradient2 a {
    color: white;
}

.o_sales_dashboard .o_gradient3 {
    background-color: #ffb602;
}

.o_sales_dashboard .o_gradient3 a {
    color: black;
}

.o_sales_dashboard .o_gradient4 {
    background-color: #f9c805;
}

.o_sales_dashboard .o_gradient4 a {
    color: black;
}

.o_sales_dashboard .o_gradient5 {
    background-color: #F0Fa09;
}

.o_sales_dashboard .o_gradient5 a {
    color: black;
}

.o_sales_dashboard .o_gradient6 {
    background-color: #a9d70b;
}

.o_sales_dashboard .o_gradient6 a {
    color: white;
}

.o_sales_dashboard .o_gradient7 {
    background-color: #8ff70b;
}

.o_sales_dashboard .o_gradient7 a {
    color: black;
}

.o_sales_dashboard .o_gradient8 {
    background-color: #4fd70b;
}

.o_sales_dashboard .o_gradient8 a {
    color: white;
}

.o_sales_dashboard .o_gradient9 {
    background-color: #0fd70b;
}

.o_sales_dashboard .o_gradient9 a {
    color: white;
}

.o_sales_dashboard .o_gradient10 {
    background-color: #0fff0b;
}

.o_sales_dashboard .o_gradient10 a {
    color: white;
}